.aboutCon{
    margin: 0 auto;
    text-align: center;
    .aboutText{
        h1{
            font-size: 60px;
        }
        p{
            font-size: 20px;
            .boldText{
                font-weight: bold;
            }
        }
    }
    .picCon{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        .table{
            border: 1px solid black;
            border-radius: 20px;
            img{
                width: 350px;
                border: 1px solid black;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            h6{
                font-size: 20px;
                padding: 20px;
            }
        }
    }
    .figmaCon{
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       width: fit-content;
       gap: 80px;
       border: 1px solid black;
       border-radius: 30px;
       .figmaConText{
        text-align: start;
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 20px;
        img{
            width: 100px;
        }
        p{
            .underlineText{
                text-decoration: underline;
            }
        }
        button{
            padding: 20px 10px;
            width: 200px;
            background-color: white;
            color: black;
            border-radius: 30px;
        }
       } 
       .figmaConImg{
        img{
            width: 600px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
       }
    }
    .browser{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 30px;
        margin: 0 auto;
        width: fit-content;
        gap: 50px;
        .browserImg{
            img{
                width: 600px;
                border-top-Left-radius: 20px;
                border-bottom-Left-radius: 20px;
            }
        }
        .browserText{
            display: flex;
            justify-content: start;
            flex-direction: column;
            gap: 20px;
            text-align: start;
            img{
                width: 100px;
            }
            button{
                padding: 20px 10px;
                width: 200px;
                background-color: white;
                color: black;
                border-radius: 30px;
            }
        }
    }
}
button{
    
    display: block;
    margin: 30px auto 60px;
    padding: 20px 10px;
    width: 200px;
    font-size: larger;
    background-color: black;
    color: white;
    border-radius: 30px;
}
