.headerCon{
    max-width: 1150px;
    margin: 20px auto;
    padding: 0 auto;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: start;
        }
        .headerLeft{
            display: flex;
            align-items: center;
            .nav{
                ul{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    text-decoration: none;
                    list-style: none;
                    li{
                        a{
                            text-decoration: none;
                            color: #000;
                            font-size: x-large;
                        }

                    }
                }
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    align-items: start;
                }
                @media screen and (max-width: 450px) {
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
        .headerRigth{
            a{
                text-decoration: none;
                color: white;
                background-color: black;
                padding: 10px;
                border-radius: 30px;
                font-size: x-large;
            }
        }
    }
}

