.openingCon{
    text-align: start;
    background: linear-gradient(90deg, white 60%, black 40%) ;
    margin: 20px auto 0 auto;
    max-width: 1150px;
    overflow: hidden;
    height: 30rem;
    .opening{
        display: flex;
        justify-content: space-evenly;

    }
    .text{
        margin-top: 5rem;
        text-align: start;
        h1{
            font-size: 60px;
        }
        p{
            font-size: 20px;
        }
        .buttons{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: 20px;
            button{
                width: 150px;
                height: 50px;
                border-radius: 30px;
                border: none;
                cursor: pointer;
            }    
            button:nth-child(1){
                background-color: #000;
                color: #fff;
            }
            button:nth-child(2){
                background-color: #fff;
                color: #000;
            }
        }
    }
    .groupPic{
        display: flex;
        gap: 20px;
        .group1{
            display: flex;
            flex-direction: column;
            gap: 20px;
            img{
                width: 200px;
                border-radius: 20px;
                border-bottom: 1px solid black;
            }
        }
        .group2{
            display: flex;
            flex-direction: column;
            gap: 20px;
            img{
                width: 200px;
                border-radius: 20px;
                border: 1px solid black;
            }
        }
    }
}
